{%extends 'ecommerce_app/layout.html'%}

{%block body%}
  
  {% comment %} Category Boxes {% endcomment %}
  <section class="p-5">
    <div class="container">
      <div class="row text-center">
        {% for item in categories %}
          <div class="col-md">
            <div class="card bg-info text-success">
              <div class="card-body text-center">
                <div class="h3 mb-2 text-dark">
                  <a href="{% url 'category_detail' item %}">{{item|title}}</a>
                </div>
              </div>
            </div>        
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

{%endblock%}