<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'main.js' %}"></script>
  <link rel="shortcut icon" href="#" />
  <title>Sid's Ski & Snowboard Shop</title>
</head>
<body>
  {% comment %} Bootstrap Navbar & Dropdown {% endcomment %}
  <nav class ="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
      <h1 class="display-4 text-light">
          Sid's Ski & Snowboard Shop
      </h1>
      <button 
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id = "navmenu">
        <ul class = "navbar-nav ms-auto">
          <li class = "nav-item">  
            <h5><a href="/" class="nav-link text-light display-4">Home</a></h5>
          </li>
          <li class = "nav-item">
            <h5><a href="{% url 'shopping_cart' %}" class="nav-link text-light display-4">Shopping Cart</a></h5>
          </li>
          <li class = "nav-item">
            <h5><a href="{% url 'search' %}" class="nav-link text-light display-4">Search</a></h5>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <style> 
    body {
      background: url("/static/images/alpine.jpg")
    }
  </style>
  {% block body %}
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>